.recipeCard {
  background-color: linear-gradient(
    to bottom,
    $greyPrincipal 60%,
    $greyPrincipal 100%
  );
  border: 1px solid grey;
  width: 150px;
  display: flex;
  flex-direction: column;
  color: grey;
  padding: 0.5rem;
  @include tablet {
    width: 200px;
  }
  &:hover {
    cursor: pointer;
  }
  &__img {
    max-width: 150px;
    @include tablet {
      max-width: 200px;
    }
  }
  &__text {
    font-size: 10px;

    @include tablet {
      font-size: 12px;
    }
    &-name {
      font-size: 12px;
      padding: 10px 0px;
      @include tablet {
        font-size: 14px;
      }
    }
    &-time {
      font-size: 10px;
      padding: 3px 0px;
      border-bottom: solid grey 1px;
      border-top: solid grey 1px;
      @include tablet {
        font-size: 12px;
      }
    }
    &-type {
      font-size: 10px;
      padding-top: 3px;
      @include tablet {
        font-size: 12px;
      }
      text-transform: capitalize;
    }
  }
}

.wrap-cardDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .characterCardDetail {
    background-color: rgb(0, 176, 199);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    margin-top: 50px;
    width: 300px;
    @include tablet {
      width: 500px;
    }
    .link_return {
      color: white;
      position: absolute;
      top: 160px;
    }
    &__img {
      width: 150px;
      padding: 10px;
      @include tablet {
        width: 190px;
        padding: 20px;
      }
    }
    &__detail {
      font-size: 10px;
      margin: 0px 10px;
      @include tablet {
        margin: 0px 30px;
        font-size: 12px;
      }
      &-name {
        padding-bottom: 5px;
        font-size: 12px;
        @include tablet {
          font-size: 16px;
        }
      }
      span {
        font-weight: bolder;
      }
    }
  }
}
