.body {
  color: white;
  font-family: $fontMontserrat;
  padding: 20px;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    &__logo {
      width: 300px;
      padding: 10px;
      margin-bottom: 10px;
    }
  }
  .main {
    &__sectionForm {
      margin-bottom: 20px;
      &-form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        &_input {
          margin: 5px;
          border: 2px $bluePrincipal solid;
          background-color: black;
          color: white;
          min-width: 270px;
          padding: 5px 10px;
          height: 30px;
          &::placeholder {
            color: white;
          }
        }
        &_select {
          cursor: pointer;
          border: 2px $bluePrincipal solid;
          background-color: black;
          color: white;
          min-width: 150px;
          height: 30px;
          padding: 5px;
          margin: 5px;
        }
        &_reset {
          cursor: pointer;
          background-color: $bluePrincipal;
          color: black;
          border-radius: 5px;
          height: 30px;
          width: 70px;
          margin: 5px;
        }
      }
    }
    &__list {
      padding: 0px 30px;
      @include tablet {
        padding: 0px 150px;
      }
      display: grid;
      gap: 20px;
      justify-items: center;
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      @include tablet {
        gap: 15px;
        grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
      }
    }
    .error200 {
      margin-top: 60px;
      text-align: center;
      span {
        font-weight: bolder;
      }
    }
    .error400 {
      margin-top: 40px;
      text-align: center;
      &_button {
        cursor: pointer;
        background-color: $bluePrincipal;
        color: white;
        border-radius: 5px;
        height: 30px;
        width: 150px;
        margin-top: 20px;
      }
    }
  }
  .footer {
    padding: 20px;
    bottom: 0px;
  }
}
